---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About Sk Sudharsanan">
  <Page title="About Me">
    <p>
      Hello! I'm <b>Sk Sudharsanan</b>, a Rust Engineer and tech enthusiast. My professional journey began five years ago, and since then, I've been immersed in the dynamic world of technology. With a strong background in Blockchain and AI developed at GuardianLink and HTC Global Services, I'm currently pioneering new frontiers at a stealth startup.
    </p>

    <p>
      Beyond my day-to-day role, I run a YouTube channel, <strong><a href="https://www.youtube.com/sksudharsanan" target="_blank">sksudharsanan</a></strong>, where I share my insights and experiences with software development, live coding, and tech product reviews. I'm also open to collaborating on innovative projects, especially those at the intersection of blockchain and AI.
    </p>

    <p>
      If you're interested in connecting, discussing potential projects, or just want to say hi, don't hesitate to reach out via <a href="mailto:sudharsanank029@gmail.com">email</a>, <a href="https://t.me/nanasrahdus" target="_blank">Telegram</a>, or follow me on <a href="https://twitter.com/sksudharsanan" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/in/sksudharsanan" target="_blank">LinkedIn</a>, and <a href="https://instagram.com/sudharsanan_kirubanandhan" target="_blank">Instagram</a>.
    </p>

    <p>
      Thanks for stopping by, and I look forward to connecting with you!
    </p>
  </Page>
</Base>
